@tailwind base;
@tailwind component;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url("/fonts/poppins.ttf");
}

@font-face {
    font-family: poppinssemibold;
    src: url("/fonts/poppins-semibold.ttf");
}

@font-face {
    font-family: poppinsmedium;
    src: url("/fonts/poppins-medium.ttf");
}

@font-face {
    font-family: archivo;
    src: url("/fonts/archivo.ttf");
}